requests
urllib3==1.25.11
transformers==4.27.1
openai-whisper
pyttsx3
zhconv
sentence_transformers
BeautifulSoup4
lxml
pandas
PyPDF2
python-docx
python-pptx
mdtex2html
chardet
akshare
faiss-cpu==1.7.3
uvicorn
fastapi
gradio
cpm_kernels

torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
--extra-index-url https://download.pytorch.org/whl/cu118